/* ================================
   GENERAL PAGE STYLING
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    color: #222;
    line-height: 1.6;



}
.top-bar {
  display: flex;                /* puts them in a row */
  justify-content: 10px; /* pushes 1 left, 1 right */
  align-items: center;          /* centers them vertically */
  padding: 30px;                /* space from edges */
  
}

.profile-pic1 {
  width: 150px;
  height: 280px;
  border-radius: 50%;           /* makes oval/circle */
  object-fit: cover;  
  margin-left: 10px;    
  margin-right:10px;  
  margin-bottom: 70px;    /* keeps photo from stretching */
}

.profile-pic2 {
  width: 150px;
  height: 200px;
  border-radius: 50%;           /* makes oval/circle */
  object-fit: cover;  
  margin-left: 10px;    
  margin-right:100px;  
  margin-bottom: 200px;    /* keeps photo from stretching */
}


/* ================================
   HEADER
================================ */

header {
    background-color: #0d47a1;
    color: white;
    padding: 20px;
    text-align: center;
    

}

header h1 {
    margin-bottom: 15px;
font-weight: 900;
  font-size: 90px;
  color: white;
  text-shadow: 6px 6px 0px #667eea, 
               12px 12px 0px #764ba2;
               24px 24px 0px #667eea;
               42px 42px 0px #764ba2;
               text-transform: uppercase;

}
header h1:hover {
    color:blue;
}
h3{
    color:blue;
    font-weight: bold;
}
h3:hover{
    color:lightgrey;
}
/* ================================
   NAVIGATION
================================ */

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: aqua;
    border-radius: 25%;
    text-decoration: underline;
    cursor: pointer;
    
}


/* ================================
   MAIN CONTENT
================================ */

main {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}


/* ================================
   SECTIONS
================================ */

section {
    background-color:none;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 10px;
}

section h2 ,h2 {
    color: #0d47a1;
    margin-bottom: 15px;
  font-size: 40px;
  color: blue;
  text-shadow: 3px 3px 0px #667eea, 
               6px 6px 0px #764ba2;

}

p ,li {
    color:lightslategrey;
    font-size: 30px;
}
/* ================================
   IMAGES
================================ */

section img {



    width: 200px;
    height: auto;
    display: block;
    margin: 15px 0;
    border-radius: 50%;
    outline: 5px solid wheat;
    outline-offset: 5px;
      background-color: blue;
      padding: 15px;
      border: 5px solid navy;
}
section img {
  box-shadow: 0 8px 12px blue;
  transition: 0.3s; /* makes it smooth */
  display: flex;
  
}

section img:hover {
  transform: translateY(-10px); /* moves up */
  box-shadow: 15px 14px 22px 20px blue; /* bigger shadow */
}
section image:active {
  transform: scale(1.5);
}




/* ================================
   LISTS
================================ */

section ul {
    margin-left: 25px;
}

section li {
    margin-bottom: 8px;
}


/* ================================
   LINKS
================================ */

main a {
    color: #0d47a1;
    font-weight: bold;
}

main a:hover {
    color: #1565c0;
}


/* ================================
   CONTACT FORM
================================ */

form {
    max-width: 600px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}
 button {
      background-color: blue;
      padding: 10px 20px;
      border-radius: 40%;
      cursor: pointer;
      outline: #0d47a1;
    }
    button:hover {
      background-color:yellow;
      color: white;
      cursor: pointer; /* shows hand icon */
    }
    
    
    p::before{
      content: " ";
      color: blue;
    }


/* SERVICES */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 30px;
    
}

.service-card {
    background: wheat;
    padding: 50px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 40px 35px rgba(0, 235, 0, 0.06);
    transition: transform 0.7s;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card .icon {
    font-size: 40px;
    margin-bottom: 15px;
}

.service-card h3 {
    color: #0d4d2a;
    margin-bottom: 12px;
}


/* ================================
   FOOTER
================================ */

footer {
    background-color: none;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    

    
    
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 
    1px 1px 0px red,
    2px 2px 0px red,
    3px 3px 0px red,
    4px 4px 0px red,
    5px 5px 0px red,
    6px 6px 0px red;

  
}





.skills-bg {
    background: #f8f9f5;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.skill-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow:
        0 5px 15px rgba(0, 0, 0, 0.05);
}

.skill-card h3 {
    margin-bottom: 12px;
    color: #0d4d2a;
}

 .bar {
    background: #e0e0e0;
    border-radius: 20px;
    height: 10px;
}

 .progress {
    background: #ffc107;
    height: 10px;
    border-radius: 20px;
}
@media screen and (max-width: 480px) {
  body {
    background-color: whitesmoke;
  }
  header h1{
    font-size: 30px;
  }
  nav ul{
    display:inline-block;
  }
}